@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Italianno&family=Jacques+Francois&family=Jaldi:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Judson:ital,wght@0,400;0,700;1,400&family=Julius+Sans+One&family=Jura:wght@300..700&family=Just+Another+Hand&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
    scroll-behavior: smooth;
}




body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.section1{
    width: 100%;
    height: 100vh;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

header{
    background-color: #181616ec;
    width: 100%;
    height: 62px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

header h1{
        font-family: "Italianno", serif;
        font-weight: 400;
        font-style: normal;
        color: #FFFFFF;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

#nav-icon{
    display: none;
}

nav a{

  font-family: "Instrument Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
  font-size: 22px;
  color: #dfdfdf;
  padding-right: 2rem;
  transition: 0.3s ease;
}

nav a:hover{
    color: #FFFFFF;
}

.text-sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Instrument Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.text-sec1 h1{
    font-size: 70px;
    color: #8B8B8B;
}

.text-sec1 h3{
    color:#02020296;
    line-height: 0;
    font-size: 24px;
    position: relative;
    bottom: 30px;
}

.image-sec{
    display: flex;
    flex-direction: row;
}

.flask-img{
    width: 341px;
    height: 271px;
    position: relative;
    left: 7rem;
}

.tube-img{
    width: 341px;
    height: 271px;
    position: relative;
    right: 7rem;
}



/*------------SECTION 2----------------*/

.section2{
    background-color: #B1ACAC;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: leftToRight;
    animation-duration: 4s;
    animation-timeline: view();
    animation-range: entry 0;
    justify-content: center;
}

.section2 img{
    width: 583px;
    height: 550px;
    border-radius: 270px;
    margin-left: 2rem;
}

.text-sec2{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.text-sec2 h1{
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #F3C3C3;
    text-align: center;
    font-size: 53px;
}

.text-sec2 p {
    width:525px;
    font-family: "Instrument Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    color: #6E6363;
}

/*---------------------SECTION 3-------------------*/

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    height: 100vh;
    animation: rightToLeft;
    animation-duration: 4s;
    animation-timeline: view();
    animation-range: entry 0;
 
    
    
}

.section3 h1{
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #82A0B8;
    text-align: center;
    font-size: 53px;
}

.card-section{
    display: flex;
    flex-direction: row;
    gap: 8rem;
}

.card{
    width: 509px;
    height: 349px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.card:hover{
    transform: translateY(-10px);
}

.card h1{
    font-size: 36px;
    color: #8C8080;
}

.card p{
    width: 356px;
    font-size: 18px;
    text-align: center;
}

/*--------------------PROJECT sec ----------------*/

.project-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    height: 100vh;
    animation: leftToRight;
    animation-duration: 4s;
    animation-timeline: view();
    animation-range: entry 0;
 
}

.project-section h1{
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #c57979;
    text-align: center;
    font-size: 53px;
    margin-bottom: 4rem;
}

.pcards{
    display: flex;
    background-color: #8C8080;
    width: 380px;
    height: 320px;
    -webkit-box-shadow: 5px 7px 36px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 36px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 7px 36px 0px rgba(0,0,0,0.75);
    transition: 0.3s ease;
}

.pcards:hover{
    transform: translateY(-10px);
}

.pcards img{
    width: 380px;
    height: 320px;
}

.detail-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.671);
    width: 380px;
    height: 320px;
    position: absolute;
    opacity: 0;
    transition: 0.3s ease;
}

.detail-cards:hover{
    opacity: 1;
}

.detail-cards p{
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgba(255, 255, 255, 0.767);
    font-size: 24px;
    text-align: center;
    margin-top: 8rem;
}

.detail-cards button{
    padding: 10px 35px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid;
    border-color: white;
    background: none;
    color: white;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: bold;
}

.detail-cards button:hover{
    background: black;
    color: white;
}

section{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

/*---------------------SECTION 4-------------------*/
.section4{
    background-color: #B1ACAC;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: bottomToTop;
    animation-duration: 4s;
    animation-timeline: view();
    animation-range: entry 0;
}

.section4 h1{
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #F3C3C3;
    text-align: center;
    font-size: 53px;
}

.table{
    background-color: #D9D9D9;
    width: 1060px;
    height: 600px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
 

}

.header-sec{
    background-color: #82A0B8;
    width: 100%;
    height: 142px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 18rem;
    align-items: center;
    justify-content: center;

}

.header-sec h2{
    color: #FFFFFF;
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;

}

.lines{
    display: flex;
    flex-direction: row;
    gap: 22rem;    
    position: absolute;
        
}

hr{
    width: 2px;
    height: 570px;
    transform: rotate(180deg);
    border: none;
    background-color: white;
    
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 17rem;
    align-self: center;
    margin-top: 8rem;
    font-size: 50px;
}

.table-sec{
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    font-size: 25px;
    gap: 11rem;
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/*-----------------SECTION 5------------------*/

.section5{
    background-color: #D9D9D9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section5 h1{
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #82A0B8;
    text-align: center;
    font-size: 53px;
    margin-top: 6rem;
   
}

.icons2{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    font-size: 40px;
    margin-top:8rem;
  
}

.icons2 p{
    font-size: 30px;
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: relative;
    left: 7rem;
    bottom: 1rem;
}

.dwn-btn{
    margin-top: 4rem;
    padding: 12px 25px;
    cursor: pointer;
    background: none;
    color: #9D5757;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

.dwn-btn:hover{
    transform: translateY(-6px);
    background: black;
    color: white;
}





@keyframes leftToRight{
    from{
        transform: translateX(-400px);
    }

    to{
        transform: translateX(0);
    }
}


@keyframes rightToLeft{
    from{
        transform: translateX(400px);
    }

    to{
        transform: translateX(0);
    }
}



@keyframes bottomToTop{
    from{
        transform: translateY(400px);
    }

    to{
        transform: translateY(0);
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}


@keyframes topToBottom{
    from{
        transform: translateY(-400px);
    }

    to{
        transform: translateY(0);
    }
}
